.aboutUsWrap {
  width: 100%;
  .aboutContent {
    max-width: 1600px;
    height: 100%;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .textBox {
    width: 100%;
    .k-title {
      padding: 20px 0;
      text-align: center;
    }
    .serviceBox {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .serviceItem {
        width: 33.3%;
        height: 400px;
        display: flex;
        align-items: center;
        .imgBox {
          background-repeat: no-repeat;
          background-position: center;
          height: 90px;
          margin-bottom: 15px;
        }
        &:nth-child(1) {
          .imgBox {
            background-image: url("~@/static/images/aboutUs/game.png");
          }
          .contentBox:hover {
            .imgBox {
              background-image: url("~@/static/images/aboutUs/game_mouseover.png");
            }
          }
        }
        &:nth-child(2) {
          .imgBox {
            background-image: url("~@/static/images/aboutUs/web.png");
          }
          // .contentBox {
          //   width: 348px;
          // }
          .contentBox:hover {
            .imgBox {
              background-image: url("~@/static/images/aboutUs/web_mouseover.png");
            }
          }
        }
        &:nth-child(3) {
          .imgBox {
            background-image: url("~@/static/images/aboutUs/content.png");
          }
          .contentBox:hover {
            .imgBox {
              background-image: url("~@/static/images/aboutUs/content_mouseover.png");
            }
          }
        }
        &:nth-child(4) {
          .imgBox {
            background-image: url("~@/static/images/aboutUs/app.png");
          }
          // .contentBox {
          //   width: 265px;
          // }
          .contentBox:hover {
            .imgBox {
              background-image: url("~@/static/images/aboutUs/app_mouseover.png");
            }
          }
        }
        &:nth-child(5) {
          .imgBox {
            background-image: url("~@/static/images/aboutUs/design.png");
          }
          .contentBox:hover {
            .imgBox {
              background-image: url("~@/static/images/aboutUs/design_mouseover.png");
            }
          }
        }
        &:nth-child(6) {
          .imgBox {
            background-image: url("~@/static/images/aboutUs/cloud.png");
          }
          .contentBox:hover {
            .imgBox {
              background-image: url("~@/static/images/aboutUs/cloud_mouseover.png");
            }
          }
        }
      }
      .contentBox {
        width: 250px;
        margin: 0 auto;
        padding: 40px 15px 20px;
        &:hover {
          border: 2px solid #00a29a;
          transform: scale(1.1);
          transition: 0.3s;
          box-shadow: 0 2px 4px 0 #00a29a;
          .descBox div {
            color: #00a29a;
          }
        }
      }
    }
    .descBox div {
      &:first-child {
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.25rem;
        font-weight: 500;
      }
      &:nth-child(2) {
        height: 144px;
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutUsWrap {
    .textBox {
      .serviceBox {
        .serviceItem {
          width: 50%;
          height: 450px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .aboutUsWrap {
    .textBox {
      .serviceBox {
        .serviceItem {
          width: 100%;
          height: 350px;
        }
      }
    }
  }
}
