.aboutUsDescWrap {
  position: relative;
  height: 700px;
  .descBox {
    // background-color: #c6efe8;
    // border: 3px solid #4ccdba;
    border-radius: 25px;
    position: absolute;
    height: 500px;
    width: 68%;
    display: flex;
    align-items: center;
    right: -10%;
  }
  .textBox {
    width: 100%;
    div {
      font-size: 1.1rem;
      margin: 0 25% 20px;
      width: 56%;
    }
  }
  .scrum {
    height: 400px;
    width: 700px;
    background-image: url("~@/static/images/scrum.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    left: 8%;
    top: 50px;
    position: absolute;
    background-position: bottom;
  }
  .toolTitle {
    background-color: #00a29a;
    border: 2px solid #4ccdba;
    border-radius: 25px;
    color: white;
    width: 65%;
    position: absolute;
    left: -10%;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 0;
    top: 468px;
  }
  .swiperBox {
    position: absolute;
    width: 100%;
    top: 530px;
  }
  .swiper-container {
    width: 90%;
    max-width: 1600px;
    margin: 50px auto;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    img {
      max-width: 100%;
      max-height: 100%;
      filter: grayscale(1);
      transition: 0.5s ease;
      &:hover {
        transition: 0.5s ease;
        filter: grayscale(0);
      }
    }
  }
}

@media (max-width: 1600px) {
  .aboutUsDescWrap {
    .textBox {
      div {
        // font-size: 1.2rem;
        margin: 0 20% 20px;
        // width: 58%;
      }
    }
    .scrum {
      // height: 335px;
      // width: 500px;
      width: 45%;
      height: 55%;
      left: 5%;
      // top: 100px;
    }
  }
}

@media (max-width: 1200px) {
  .aboutUsDescWrap {
    .textBox {
      div {
        // font-size: 1.1rem;
        margin: 0px 19% 20px;
        width: 65%;
      }
    }
    .scrum {
      // height: 325px;
      // width: 450px;
      // width: 45%;
      // height: 300px;
      top: 75px;
      width: 47%;
      height: 50%;
    }
  }
}

@media (max-width: 992px) {
  .aboutUsDescWrap {
    .textBox {
      div {
        font-size: 1rem;
        // margin: 0px 26% 20px;
      }
    }
    .scrum {
      // height: 250px;
      // width: 375px;
      // top: 185px;
      top: 100px;
      width: 48%;
      height: 40%;
    }
  }
}

@media (max-width: 768px) {
  .aboutUsDescWrap {
    height: 475px;
    .descBox {
      right: 0;
      width: 100%;
      height: 300px;
    }
    .textBox {
      div {
        font-size: 1rem;
        margin: 0 auto 20px;
        width: 80%;
      }
    }
    .scrum {
      display: none;
    }
    .toolTitle {
      top: 265px;
      width: 100%;
      left: 0;
    }
    .swiperBox {
      top: 312px;
    }
    .swiper-slide {
      img {
        filter: grayscale(0);
      }
    }
  }
}

@media (max-width: 576px) {
  .aboutUsDescWrap {
    height: 475px;
    .descBox {
      height: 325px;
    }
    .textBox {
      div {
        width: 90%;
      }
    }
    .toolTitle {
      top: 295px;
    }
    .swiperBox {
      top: 342px;
    }
    .swiper-container {
      margin: 35px auto;
    }
  }
}
