.choiceWrap {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  &:hover {
    .choiceBg {
      transform: scale(1.1);
      transition: all 0.5s ease-in-out;
    }
  }
  .choiceBg {
    // background-image: url('~@/static/images/choice_bg.png');
    background-image: url("~@/static/images/choiceBg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
  .choiceGradientBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.75) 40%,
      rgba(255, 255, 255, 0.01)
    );
  }
  .choiceContent {
    max-width: 1600px;
    height: 100%;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .textBox {
    width: 625px;
    // background-color: rgba(246, 248, 252, 0.85);
    // padding: 20px;
    // border-radius: 35px;
    z-index: 1;
  }
  .k-title {
    font-size: 2.2rem;
  }
  .k-desc {
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 400;
    word-break: break-all;
  }
}

@media (max-width: 1200px) {
  .choiceWrap {
    height: 600px;
    .choiceBg {
      background-position: 45% center;
    }
    .textBox {
      width: 470px;
    }
  }
}

@media (max-width: 768px) {
  .choiceWrap {
    // height: 820px;
    height: unset;
    .choiceBg {
      // background-image: url("~@/static/images/choice_mb_bg.png");
      // background-position: top;
      // background-size: contain;
      background-size: cover;
    }
    .choiceContent {
      justify-content: center;
      // align-items: flex-end;
    }
    .textBox {
      // background-color: unset;
      margin: 40px auto;
      width: 525px;
      // margin-bottom: 10px;
    }
    .choiceGradientBg {
      background-image: unset;
      background: rgba(255, 255, 255, 0.75);
    }
  }
}
@media (max-width: 576px) {
  .choiceWrap {
    .k-title {
      font-size: 2rem;
    }
    .k-desc {
      font-size: 1.2rem;
      margin-top: 30px;
      font-weight: 400;
      word-break: break-all;
    }
  }
}
