.contactWrap {
  background-image: url('~@/static/images/contact_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 800px;
  .contactContent {
    max-width: 1600px;
    height: 100%;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactContentBox {
    width: 100%;
  }
  .textBox {
    text-align: center;
  }
  .k-desc {
    margin-top: 20px;
  }
  .contactBox {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .form {
      padding: 30px 20px;
      background: #ffffff;
      border-radius: 2px;
      box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.16);
      width: 350px;
      margin-right: 100px;
      .form-control {
        margin-bottom: 15px;
        &::placeholder {
          font-size: 0.8rem;
        }
      }
      .btn {
        width: 100%;
        height: 48px;
      }
    }
    .map {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .mapIframe {
        width: 280px;
        height: 280px;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .contactWrap {
    .contactBox {
      .form {
        width: 300px;
        margin-right: 60px;
      }
    }
  }
}

@media (max-width: 768px) {
  .contactWrap {
    height: 1000px;
    .contactBox {
      width: 300px;
      margin: 60px auto 0;
      .form {
        width: 100%;
        margin-right: 0;
      }
      .map {
        margin-top: 30px;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .contactWrap {
    .contactBox {
      width: 100%;
      max-width: 300px;
      .map .mapIframe {
        width: 100%;
      }
    }
  }
}
