.introWrap {
  // background-image: url("~@/static/images/intro_bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;
  background: url("~@/static/images/intro_woodBg.png"),
    linear-gradient(to top, #ece9e6, #ffffff);
  background-repeat: no-repeat;
  // background-size: contain;
  background-size: 100% 200px, contain;
  background-position: bottom;
  width: 100%;
  height: 864px;
  position: relative;
  .vedioBg {
    position: absolute;
    left: 47%;
    bottom: 5%;
    .vedioContent {
      position: relative;
    }
    img {
      height: 615px;
    }
    video {
      position: absolute;
      object-fit: cover;
      left: 65px;
      top: 52px;
      width: 700px;
      height: 420px;
    }
  }
  .introContent {
    max-width: 1600px;
    padding: 0 40px;
    margin: 0 auto;
    .textBox {
      width: 620px;
      // padding: 20px;
      margin-top: 130px;
      // background-color: rgba(246, 248, 252, 0.85);
      // border-radius: 35px;
    }
    .k-desc {
      margin-top: 50px;
    }
    .contactBtn {
      font-weight: 300;
      margin-top: 65px;
      padding: 0.5rem 2.1rem;
    }
    .cooperation {
      margin-top: 65px;
      div {
        &:first-child {
          font-size: 0.8rem;
          font-weight: 300;
        }
        &:last-child {
          img {
            margin-top: 15px;
            margin-right: 10px;
            max-height: 26px;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .introWrap {
    .vedioBg {
      left: 52%;
      bottom: 10%;
      img {
        height: 450px;
      }
      video {
        left: 49px;
        top: 38px;
        width: 509px;
        height: 309px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .introWrap {
    height: 800px;
    .introContent {
      .textBox {
        margin-top: 100px;
        width: 550px;
      }
      // .k-desc {
      //   width: 470px;
      // }
      .cooperation {
        margin-top: 65px;
        div {
          &:last-child {
            img {
              max-height: 22px;
            }
          }
        }
      }
    }
    .vedioBg {
      left: 56%;
      bottom: 11%;
      img {
        height: 325px;
      }
      video {
        left: 35px;
        top: 27px;
        width: 367px;
        height: 222px;
      }
    }
  }
}

@media (max-width: 992px) {
  .introWrap {
    height: 1150px;
    .vedioBg {
      transform: translateX(-50%);
      left: 50%;
      bottom: 2.5%;
      img {
        height: 450px;
      }
      video {
        left: 46px;
        top: 37px;
        width: 515px;
        height: 308px;
      }
    }
    .introContent {
      .textBox {
        margin: 60px auto 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .introWrap {
    // background-image: url("~@/static/images/intro_mb_bg.png");
    .vedioBg {
      padding: 0 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        height: 410px;
      }
      video {
        height: 281px;
        width: 466px;
        left: 45px;
        top: 33px;
      }
    }
    .introContent {
      padding: 0 40px;
      .textBox {
        margin: 40px auto 0;
        width: 100%;
      }
      .k-desc {
        width: 100%;
        height: 150px;
      }
      .k-title {
        height: 108px;
      }
      .contactBtn {
        width: 100%;
      }
      .cooperation {
        div {
          &:last-child {
            img {
              max-height: 22px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .introWrap {
    height: 930px;
    .vedioContent {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      video {
        height: 69%;
        width: 85%;
        left: 8%;
        top: 8%;
      }
    }
    .introContent {
      .textBox {
        margin: 20px auto 0;
      }
      .k-desc {
        margin-top: 25px;
        height: auto;
      }
      .contactBtn {
        margin-top: 50px;
      }
      .cooperation {
        margin-top: 35px;
      }
    }
  }
}
