@font-face {
  font-family: "Noto Sans TC";
  src: url("~@/static/font/NotoSansTC-Regular.otf") format("opentype");
}

html,
body {
  font-family: "Noto Sans TC", sans-serif;
}

.c-6b {
  color: #6b7b9c;
}
.c-9c {
  color: #9ca9c4;
}
.c-47 {
  color: #47536b;
}
.c-ec {
  color: #ecf0f1;
}
.k-title {
  font-size: 2rem;
  font-weight: 500;
  color: #47536b;
}
.k-desc {
  line-height: 1.5;
  font-weight: 300;
  color: #6b7b9c;
}

@media (max-width: 1200px) {
  .k-title {
    font-size: 1.75rem;
  }
  .k-desc {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .k-title {
    font-size: 1.5rem;
  }
}
