.serviceWrap {
  .serviceContent {
    max-width: 1600px;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .serviceItem {
      width: 25%;
      margin: 15px 0;
      .itemBox {
        width: 50%;
        margin: 0 auto;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition-duration: 0.3s;
        transition-property: transform;
        position: relative;
        cursor: default;
        &::before {
          pointer-events: none;
          position: absolute;
          z-index: -1;
          content: "";
          top: 100%;
          left: 5%;
          height: 10px;
          width: 90%;
          opacity: 0;
          background: -webkit-radial-gradient(
            center,
            ellipse,
            rgba(0, 0, 0, 0.35) 0%,
            rgba(0, 0, 0, 0) 80%
          );
          background: radial-gradient(
            ellipse at center,
            rgba(0, 0, 0, 0.35) 0%,
            rgba(0, 0, 0, 0) 80%
          );
          transition-duration: 0.3s;
          transition-property: transform, opacity;
        }
        &:hover {
          transform: translateY(-5px);
          &::before {
            opacity: 1;
            transform: translateY(5px);
          }
        }
      }
      .imgBox {
        text-align: center;
        margin-bottom: 15px;
        img {
          width: 85px;
        }
      }
      .descBox div {
        &:first-child {
          text-align: center;
          margin-bottom: 15px;
          font-size: 1.25rem;
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .serviceWrap {
    .serviceContent {
      .serviceItem {
        .itemBox {
          width: 60%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .serviceWrap {
    .serviceContent {
      .serviceItem {
        .itemBox {
          width: 75%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .serviceWrap {
    .serviceContent {
      justify-content: space-evenly;
      .serviceItem {
        width: 525px;
        .itemBox {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
        }
        .imgBox {
          width: 15%;
          img {
            width: 100%;
          }
        }
        .descBox {
          width: 85%;
          padding-left: 20px;
          div {
            &:first-child {
              text-align: left;
              margin-bottom: 10px;
              font-size: 1rem;
            }
            &:last-child {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
