.footerWrap {
  width: 100%;
  .footerContent {
    max-width: 1600px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .contentBox {
      width: 100%;
      padding: 40px 0;
      text-align: center;
    }
    .copy {
      color: #777777;
      margin-top: 30px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      font-size: 0.8rem;
      .copyImg {
        margin-right: 20px;
        img {
          height: 25px;
        }
      }
    }
    .title {
      font-size: 1.25rem;
    }
    .contactInfo {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      div {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 0.9rem;
        font-weight: 300;
        &::before {
          content: '';
          border: 2px solid #9ca9c4;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .footerWrap {
    .footerContent {
      .contentBox {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
      }
      .copy {
        font-weight: 300;
        font-size: 0.8rem;
        .copyImg {
          margin-right: 10px;
          img {
            height: 25px;
          }
        }
      }
      .title {
        text-align: left;
        font-size: 1.1rem;
      }
      .contactInfo {
        div {
          width: 100%;
          padding: 0;
          text-align: left;
          font-size: 0.8rem;
        }
      }
    }
  }
}
