.webNav {
  .nav-content {
    max-width: 1600px;
    height: 100px;
    padding: 0 40px;
    margin: 0 auto;
    z-index: 1;
  }
  .navBrand {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 300;
  }
  .brand {
    background-image: url("~@/static/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 158px;
    margin-right: 0.5rem;
  }
  .navOption {
    margin-left: 40px;
    font-weight: 300;
    cursor: pointer;
  }
  .clickItem {
    position: relative;
    &:hover {
      &::after {
        content: "";
        border-bottom: 2px solid #00a29a;
        position: absolute;
        width: 100%;
        bottom: -2px;
        left: 0;
      }
    }
  }
  .localeDropdown {
    .btn.btn-secondary.dropdown-toggle {
      padding: 0.1rem 0.75rem 0.1rem 0.25rem;
      font-weight: 300;
      background-color: rgba(204, 221, 255, 0.5);
      color: #6b7b9c;
      width: 100px;
      border: 0;
      position: relative;
      &:active {
        color: #6b7b9c;
        background-color: rgba(204, 221, 255, 0.5);
        border-color: unset;
        &:focus {
          box-shadow: unset;
        }
      }
      &:focus {
        box-shadow: unset;
      }
      &::after {
        position: absolute;
        top: 47%;
        right: 5%;
      }
    }
    .dropdown-menu.dropdown-menu-right {
      .is-active {
        .dropdown-item {
          color: #3377ff;
        }
      }
      .dropdown-item {
        color: #6b7b9c;
        &:active {
          background-color: unset;
        }
      }
    }
  }
  .navbar-toggler {
    padding: 0;
    border: 0;
    &:focus {
      outline: 0;
    }
    .navbar-toggler-icon {
      background-image: url("~@/static/images/nav_icon.png");
      height: 25px;
      width: 25px;
    }
  }
  .b-sidebar {
    box-shadow: 0 0 15px 0 rgba(51, 119, 255, 0.5);
    background-color: #f7f9fc;
    .close:focus {
      outline: 0;
    }
    svg {
      width: 3rem;
      height: 3rem;
      &:focus {
        outline: 0;
      }
    }
    .barOption {
      font-weight: 300;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .localeDropdown {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .webNav {
    .navOption {
      margin-left: 25px;
    }
  }
}

@media (max-width: 768px) {
  .webNav {
    .nav-content {
      height: 60px;
      padding: 0 15px;
    }
    .brand {
      height: 30px;
      width: 110px;
      margin-right: 0.2rem;
    }
  }
}
