<template>
  <div class="aboutUsDescWrap">
    <div class="descBox">
      <div class="textBox">
        <div class="c-6b">
          在專案規劃及執行上有專業的流程與有效率的管理，保證在時程內達成客戶的需求與良好的品質產出。
        </div>
        <div class="c-6b">
          我們不做行銷，只專注在技術及服務品質上，一分錢一分貨，我們的價格絕對合理及符合市場價值，不做削價競爭。
        </div>
        <div class="c-6b">
          歡迎業主與我們聯繫，讓我們能夠有機會服務您，創造雙贏，唯有客戶滿意才是我們服務的本質與初心。
        </div>
      </div>
    </div>
    <div class="scrum"></div>
    <div class="toolTitle">專案管理工具與雲端應用</div>
    <div class="swiperBox">
      <div id="vue-swiper" v-if="showSlider" v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(logo, index) in logos" :key="index">
            <img :src="require('@/static/images/toolLogo/' + logo + '.png')" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      logos: [
        "vmware",
        "Bitbucket",
        "Jira",
        "Microsoft-azure",
        "Slack",
        "AdobeXD",
        "AppCenter",
        "Alibabacloud",
      ],
      swiperOption: {
        loop: true,
        speed: 1000,
        freeMode: true,
        slidesPerView: 4,
        spaceBetween: 50,
        autoplay: {
          delay: 1000,
        },
      },
      windowWidth: null,
      txt: "",
      showSlider: true,
    };
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    },
    swiperOptionsActive() {
      this.showSlider = false;
      this.$nextTick(() => {
        this.showSlider = true;
      });
    },
  },
  computed: {},
  watch: {
    windowWidth(newWidth, oldWidth) {
      this.txt = `it changed to ${newWidth} from ${oldWidth}`;
      const mySwiper = document.getElementById("vue-swiper");
      const startSwiper = () => mySwiper.swiper.autoplay.start();
      const stopSwiper = () => mySwiper.swiper.autoplay.stop();
      if (this.windowWidth > 768 && mySwiper) {
        mySwiper.addEventListener("mouseenter", stopSwiper);
        mySwiper.addEventListener("mouseleave", startSwiper);
        if (this.swiperOption.slidesPerView !== 4) {
          this.swiperOption.slidesPerView = 4;
          this.swiperOptionsActive();
        }
      } else {
        mySwiper.removeEventListener("mouseenter", stopSwiper);
        mySwiper.removeEventListener("mouseleave", startSwiper);
        if (this.swiperOption.slidesPerView !== 1) {
          this.swiperOption.slidesPerView = 1;
          this.swiperOptionsActive();
        }
      }
    },
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },
  mounted() {
    this.onResize();
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  },
};
</script>

<style lang="scss" scope>
@import "@/assets/scss/aboutUsDesc.scss";
</style>
