<template>
  <div class="aboutUsWrap">
    <div class="aboutContent">
      <div class="textBox">
        <div class="k-title">關於我們的服務</div>
        <div class="serviceBox">
          <div
            class="serviceItem"
            v-for="(item, index) in serviceList"
            :key="index"
          >
            <div class="contentBox">
              <div class="imgBox"></div>
              <div class="descBox">
                <div class="c-47">{{ item.title }}</div>
                <div class="c-9c">
                  {{ item.desc }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      serviceList: [
        {
          title: "遊戲開發",
          desc:
            "自2010年開始與韓國合作代理遊戲奠定基礎，進而積極深入遊戲開發，建構多方面的手機遊戲和網頁遊戲。",
        },
        {
          title: "客製化網站平台建置",
          desc:
            "不論您有多天馬行空的想法，或是多麽拮据的預算，只要您想做企業形象網站、活動頁面、電商平台、SEO、RWD響應式網站。在庫果這裡，我們都會仔細聆聽您的需求。",
        },
        {
          title: "內容管理系統",
          desc:
            "前端互動網頁、內部後台網站、C#、ASP.NET、PHP網頁及系統開發等。我們提供一個完整的專案管理及流程設計。",
        },
        {
          title: "APP開發",
          desc:
            "支援iOS/Android，包含電子商務、企業應用、教育學習、餐飲服務、物流金流、Line BOT等，滿足您在手機上的任何需求。",
        },
        {
          title: "視覺設計",
          desc:
            "從使用者的角度出發，進行規劃、設計，為您量身打造產品的價值、操作邏輯和使用者之間的關係。",
        },
        {
          title: "雲端技術協助",
          desc:
            "善用Azure、VMware，積極推動雲端解決方案，藉由雲來提升企業效率，資訊技術的靈活度及安全性的服務。",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scope>
@import "@/assets/scss/aboutUs.scss";
</style>
