<template>
  <div class="choiceWrap">
    <div class="choiceBg" />
    <div class="choiceGradientBg" />
    <div class="choiceContent">
      <div class="textBox">
        <div class="k-title">為何選擇庫果</div>
        <div class="k-desc">
          <div>1. 提供全套式完整的流程設計與開發技術</div>
          <div>
            2. 接觸過的案件包含金融業、遊戲產業、公家機關、媒體行銷、電商等
          </div>
          <div>
            3.
            成員組成包含ＵＩ/ＵＸ設計、美術設計、前端開發、後端開發、遊戲製作、系統架構規劃、系統分析、專案管理
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scope>
@import "@/assets/scss/choice.scss";
</style>
