<template>
  <div class="contactWrap">
    <div class="contactContent">
      <div class="contactContentBox">
        <div class="textBox">
          <div class="k-title">讓您的產品體驗更上一層樓</div>
          <div class="k-desc">
            <div>
              憑藉超過10年的經驗和許多成功的項目，我們知道如何幫助您完成最佳的產品。
            </div>
            <div>填寫資訊聯絡我們吧！</div>
          </div>
        </div>
        <div class="contactBox">
          <b-form class="form">
            <b-form-input
              v-model="form.name"
              :state="nameState"
              type="text"
              placeholder="姓名"
              required
            ></b-form-input>
            <b-form-input
              v-model="form.email"
              :state="emailState"
              type="email"
              placeholder="信箱"
              required
            ></b-form-input>
            <b-form-input
              v-model="form.tel"
              :state="telState"
              type="tel"
              placeholder="電話"
              required
            ></b-form-input>
            <b-form-textarea
              v-model="form.text"
              :state="textState"
              placeholder="訊息"
              rows="5"
              no-resize
              required
            ></b-form-textarea>
            <b-button variant="primary" @click="onSubmit()">傳送</b-button>
          </b-form>
          <div class="map">
            <iframe
              frameborder="0"
              style="border: 0"
              src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAvNZ5xYMFKm3OAfZNqzAxCzgbPYuZf4D4&zoom=15&q=%e5%ba%ab%e6%9e%9c"
              class="mapIframe"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import emailjs from "emailjs-com";

export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        tel: "",
        text: "",
      },
      submitStatus: false,
    };
  },
  computed: {
    nameState() {
      if (this.submitStatus && this.form.name === "") {
        return false;
      } else if (
        !this.submitStatus &&
        this.form.name.length === 0 &&
        this.form.name === ""
      ) {
        return null;
      } else if (this.form.name.match(/^[A-Za-z\u4e00-\u9fa5]{1,20}$/)) {
        return true;
      }
      return false;
    },
    emailState() {
      if (this.submitStatus && this.form.email === "") {
        return false;
      } else if (
        !this.submitStatus &&
        this.form.email.length === 0 &&
        this.form.email === ""
      ) {
        return null;
      } else if (
        this.form.email.match(
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        )
      ) {
        return true;
      }
      return false;
    },
    telState() {
      if (this.submitStatus && this.form.tel === "") {
        return false;
      } else if (
        !this.submitStatus &&
        this.form.tel.length === 0 &&
        this.form.tel === ""
      ) {
        return null;
      } else if (this.form.tel.match(/^\+?(\d[\d\-+]{5,20}\d$)/)) {
        return true;
      }
      return false;
    },
    textState() {
      if (this.submitStatus && this.form.text === "") {
        return false;
      } else if (
        !this.submitStatus &&
        this.form.text.length === 0 &&
        this.form.text === ""
      ) {
        return null;
      } else if (this.form.text.match(/.{15,200}/)) {
        return true;
      }
      return false;
    },
  },
  mounted() {},
  methods: {
    onSubmit() {
      this.submitStatus = true;
      if (
        this.nameState &&
        this.emailState &&
        this.telState &&
        this.textState
      ) {
        this.submitStatus = false;
        this.sendEmail();
        this.$bvToast.toast(`謝謝，我們將會盡快聯絡您!`, {
          title: "訊息已傳送!",
          toaster: "b-toaster-top-center",
          autoHideDelay: 3000,
        });
        this.onReset();
      }
    },
    onReset() {
      this.form.email = "";
      this.form.name = "";
      this.form.tel = "";
      this.form.text = "";
    },
    sendEmail() {
      const service_id = "service_svijso6";
      const template_id = "template_4iwzzzh";
      const templateParams = {
        from_name: this.form.name,
        email: this.form.email,
        tel: this.form.tel,
        message: this.form.text,
      };
      const userID = "user_PtkoyzCSZZX9qDo3asFJ1";
      emailjs.send(service_id, template_id, templateParams, userID).then(
        (result) => {
          console.log("SUCCESS!", result.status, result.text);
        },
        (error) => {
          console.log("FAILED...", error);
        }
      );
    },
  },
};
</script>

<style lang="scss" scope>
@import "@/assets/scss/contact.scss";
</style>
