<template>
  <div class="introWrap">
    <webHeader />
    <div class="vedioBg">
      <div class="vedioContent">
        <img src="@/static/images/intro_computerBg.png" />
        <video playsinline autoplay defaultMuted muted loop>
          <source src="@/static/vedio/fishgame.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <div class="introContent">
      <div class="textBox">
        <div class="k-title">
          <div>我們是擁有豐富經驗的頂尖程式設計團隊</div>
          <div>提供完整的設計與開發</div>
        </div>
        <div class="k-desc">
          <div>
            「只有技術＋熱情＋專注才會產生一個成功的專案。」這一直以來是我們團隊堅信不移的信念。努力至今，並且獲得客戶對庫果的認同。
          </div>
          <div>
            我們相信除了技術，熱情也是將工作推向完美中所不可或缺的因素。將每個客戶的委託設計都當成是自己公司的產品的心態來做每一個開發專案。
          </div>
          <div>因為只有客戶的成功，才代表庫果的成功。</div>
        </div>
        <b-button
          v-scroll-to="'.contactWrap'"
          class="contactBtn"
          variant="primary"
          >聯繫我們</b-button
        >
        <div class="cooperation">
          <div class="c-47">客戶支持</div>
          <div>
            <img
              v-for="(item, index) in coorperList"
              :key="index"
              :src="require('@/static/images/cooperation/' + item + '.png')"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import webHeader from "~/components/webHeader.vue";
export default {
  components: { webHeader },
  data() {
    return {
      coorperList: [
        "SamsungLogo",
        "mi",
        "taipeiCivil",
        "agmLogo",
        "ioLogo",
        "socialLogo",
      ],
    };
  },
};
</script>

<style lang="scss" scope>
@import "@/assets/scss/intro.scss";
</style>
