<template>
  <div class="serviceWrap">
    <div class="serviceContent">
      <div
        v-for="(item, index) in serviceList"
        :key="index"
        class="serviceItem"
      >
        <div class="itemBox">
          <div class="imgBox">
            <img :src="require('@/static/images/service_' + index + '.png')" />
          </div>
          <div class="descBox">
            <div class="c-47">{{ item.title }}</div>
            <div class="c-9c">{{ item.desc }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      serviceList: [
        {
          title: "網站系統開發",
          desc:
            "前端互動網頁、內部後台網站、C#、ASP.NET、PHP網頁及系統開發等。我們提供一個完整的專案管理及流程設計。",
        },
        {
          title: "SaaS服務運用",
          desc:
            "善用Azure、VMware，積極推動雲端解決方案，藉由雲來提升企業效率，資訊技術的靈活度及安全性的服務。",
        },
        {
          title: "UI / UX設計",
          desc:
            "從使用者的角度出發，進行規劃、設計，為您量身打造產品的價值、操作邏輯和使用者之間的關係。",
        },
        {
          title: "客製化APP開發",
          desc:
            "我們團隊提供強大的ios 和android技術，開發Web、Native APP滿足您獨特需求。",
        },
        // {
        //   title: "各種解決方案",
        //   desc:
        //     "Unity3D引擎客製化、遊戲美術素材、遊戲特效製作、遊戲MV製作、網頁遊戲、線上遊戲開發、雲端服務架設",
        // },
      ],
    };
  },
};
</script>

<style lang="scss" scope>
@import "@/assets/scss/service.scss";
</style>
