<template>
  <div class="footerWrap">
    <div class="footerContent">
      <div class="contentBox">
        <div class="title c-6b">聯繫我們</div>
        <div class="contactInfo c-9c">
          <div>11446 台北市內湖區文湖街2-1號8樓</div>
          <div>Telephone: +886 2 8502 5189</div>
          <div>FAX: +886 2 8502 5185</div>
          <div>E-mail: cs@kooco.com.tw</div>
        </div>
        <div class="copy">
          <div class="copyImg"><img src="@/static/logo.png" /></div>
          <div>KOOCO © 2021 | Privacy Policy</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scope>
@import "@/assets/scss/webFooter.scss";
</style>
