<template>
  <div class="webNav">
    <b-navbar class="nav-content" toggleable="md">
      <b-navbar-brand class="navBrand">
        <div class="brand" />
        <div class="c-6b">庫果有限公司</div>
      </b-navbar-brand>
      <b-navbar-toggle target="sidebar"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <div
            v-for="(item, index) in navBarList"
            :key="index"
            v-scroll-to="item.to"
            class="navOption c-6b clickItem"
          >
            {{ item.label }}
          </div>
        </b-navbar-nav>

        <b-dropdown
          id="dropdown"
          right
          :text="localeList[localeSelect].label"
          class="localeDropdown navOption"
          disabled
        >
          <b-dropdown-item
            v-for="(item, index) in localeList"
            :key="index"
            :class="{ 'is-active': localeSelect === index }"
            @click="localeSelect = index"
            >{{ item.label }}</b-dropdown-item
          >
        </b-dropdown>
      </b-collapse>

      <b-sidebar
        id="sidebar"
        v-model="sidebarDisplay"
        title=""
        width="200px"
        :backdrop-variant="'transparent'"
        backdrop
        right
      >
        <div class="px-4 py-2">
          <div
            v-for="(item, index) in navBarList"
            :key="index"
            v-scroll-to="item.to"
            class="barOption c-6b"
            @click="sidebarDisplay = !sidebarDisplay"
          >
            <div class="clickItem">{{ item.label }}</div>
          </div>
          <div class="barOption">
            <b-dropdown
              id="dropdown"
              right
              :text="localeList[localeSelect].label"
              class="localeDropdown"
              disabled
            >
              <b-dropdown-item
                v-for="(item, index) in localeList"
                :key="index"
                :class="{ 'is-active': localeSelect === index }"
                @click="localeSelect = index"
                >{{ item.label }}</b-dropdown-item
              >
            </b-dropdown>
          </div>
        </div>
      </b-sidebar>
    </b-navbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sidebarDisplay: false,
      navBarList: [
        { to: ".aboutUsWrap", label: "關於我們" },
        { to: ".choiceWrap", label: "庫果優勢" },
        { to: ".contactWrap", label: "聯繫我們" },
      ],
      localeList: [
        { value: "zh-TW", label: "繁體中文" },
        { value: "en", label: "English" },
        { value: "jp", label: "日本語" },
      ],
      localeSelect: 0,
    };
  },
};
</script>

<style lang="scss" scope>
@import "@/assets/scss/webHeader.scss";
</style>
