<template>
  <div>
    <Nuxt />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  min-width: 320px;
}
</style>
