<template>
  <div class="mainWraper">
    <intro />
    <aboutUs />
    <aboutUsDesc />
    <choice />
    <!-- <service /> -->
    <contact />
    <webFooter />
  </div>
</template>

<script>
import intro from "~/components/intro.vue";
import aboutUs from "~/components/aboutUs.vue";
import aboutUsDesc from "~/components/aboutUsDesc.vue";
import choice from "~/components/choice.vue";
// import service from "~/components/service.vue";
import contact from "~/components/contact.vue";
import webFooter from "~/components/webFooter.vue";
export default {
  components: {
    intro,
    aboutUs,
    aboutUsDesc,
    choice,
    // service,
    contact,
    webFooter,
  },
  mounted() {
    console.log("20210114");
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/main.scss";
</style>
